* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.footer {
  /* width: 100%; */
  position: fixed;
  bottom: 0;
}

.socialIcon {
  margin-left: 2rem;
}

.navbar {
  max-height: 5rem;
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  border-bottom: solid;
  & img {
    display: block;
    max-height: 3rem;
    height: auto;
    width: auto;
    margin-bottom: 0.5rem;
  }
  & ul * {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem;
  }

  & li .active {
    background-color: white;
    color: black;
  }
}

.tile {
  border: solid;
  width: 20rem;
  height: 20rem;
}
